<head>
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<div class="top-bar">
	<div class="name">DAVID WINER</div>
	<div class="follow-me">
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/david-winer/28/234/582" data-format="hover" data-related="false">
		</script>
		<iframe src="http://ghbtns.com/github-btn.html?user=davidjwiner&type=follow"
		  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
	</div>
</div>

<div class="welcome-content">
	<div class="container-narrow">
		<img src = http://i1045.photobucket.com/albums/b453/davidjwiner/Facebook/Profile%20Pictures/10869700_3960419448605_5238807593726368759_o_zps7ibzcjxd.jpg></img>
	</div>
	<div class="container-narrow text-container">
		<p>My name is <b>David</b>, and I am a management consultant residing in Boston, MA.</p>
		<p>I studied Applied Math at Brown University and hope to work at the intersection of business and technology to solve problems in education and health care.</p>
		<p>Some of my interests include:
			<ul>
				<li>Coming-of-age novels</li>
				<li>Vegetarian cuisine</li>
				<li>Strategy consulting</li>
				<li>Education policy</li>
				<li>Nonprofits</li>
				<li>Math and computer science</li>
				<li>Running</li>
			</ul>
		</p>
		<p>Feel free to contact me at davidjwiner AT gmail DOT com if you would like to get in touch!</p>
	</div>
</div>