
<div class = "container-narrow">
	<p class = "lead">My name is <b>David</b>, and I am an education technologist residing in New York City.</p>
	<p class = "lead">I studied Applied Math at Brown University and hope to work at the intersection of business and technology to solve deeply rooted social problems. I will use this site to conduct toy experiments with open datasets and publish ideas on policy, law, technology, and philosophy.</p>
	<p class = "lead">Check back soon for more!</p>
<!-- 	<div class = "follow-me" -->
		<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/david-winer/28/234/582" data-format="hover" data-related="false"></script>
		<iframe src="http://ghbtns.com/github-btn.html?user=davidjwiner&type=follow"
		  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>


<!-- 	</div> -->
</div>
<!-- <h2>Fast facts</h2>
	<ul>
		<li>My favorite movie is The Emperor's New Groove.</li>
		<li>I enjoy Junot Diaz books.</li>
		<li>My full-time job is working as a strategy consultant. I am currently on a six-month externship working for an education technology nonprofit.</li>
		<li>I am vegetarian.</li>
	</ul> -->
  
<!--<%= link_to 'My Blog', controller: 'articles' %>-->