// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

body {
	padding-top: 80px;
	padding-bottom: 40px;
}

.container-narrow {
	padding-top: 80px;
	margin: 0 auto;
	max-width: 750px;
}

.lead {
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: 200;
	line-height: 30px;
}
.follow-me {
	font-size: 21px;
}